<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head') %>

    <body>
        <%- include('./partials/nav') %>
            <div>
                <h1>Welcome to [Your Gameblog Name]</h1>
                <p>where gaming is not just a hobby, it's a passion! I'm Shubham Bhatt, the founder and chief enthusiast
                    behind this venture.</p>

                <p>Growing up, I've always been captivated by the immersive worlds, compelling narratives, and
                    adrenaline-pumping action that gaming offers. Whether it's diving into the depths of a fantasy
                    realm,
                    strategizing my next move in a tactical shooter, or exploring the vast unknown of space, gaming has
                    been
                    an integral part of my life.</p>

                <p>With this blog, I aim to create a vibrant community where fellow gamers can come together to
                    celebrate
                    our shared love for gaming. Here, you'll find a treasure trove of content including in-depth game
                    reviews, insightful analysis, thought-provoking discussions, and the latest news from the
                    ever-evolving
                    world of gaming.</p>

                <p>But beyond just gaming, this blog is about fostering connections and sparking conversations. I invite
                    you to join me on this exciting journey as we explore the limitless possibilities of virtual worlds
                    and
                    delve into the heart of what makes gaming such a captivating experience.</p>

                <p> So whether you're a seasoned veteran or just starting your gaming journey, I hope you find
                    inspiration,
                    entertainment, and camaraderie here at [Your Gameblog Name]. Together, let's level up our gaming
                    experiences and forge unforgettable memories in pixels and polygons!</p>

                <p>Happy gaming!</p>

                <p>Shubham Bhatt</p>
                <p>Founder, [Your Gameblog Name]</p>

                </p>
            </div>
    </body>

</html>