<nav>
    <%- include('./partials/nav') %>

    <form action="">
        <input type="text">
        <input type="text">
        <input type="number">
        <button>Submit</button>
    </form>
</nav>